<div class="bgLight" align="center"><img src="../assets/images/footballWorld.png"></div>
<br>
<div class="row textSize text-center">
  <div class="col-md-2 col-md-offset-1"><a routerLink="premierLeague"><img src="../assets/images/premierLeague.PNG"></a></div>
  <div class="col-md-2"><a routerLink="italianSeria"><img src="../assets/images/italianSeria.PNG"></a></div>
  <div class="col-md-2"><a routerLink="laLiga"><img src="../assets/images/laLiga.PNG"></a></div>
  <div class="col-md-2"><a routerLink="frenchLigue"><img src="../assets/images/frenchLeague.PNG"></a></div>
  <div class="col-md-2"><a routerLink="bundesliga"><img src="../assets/images/bundesliga.PNG"></a></div>

</div>

<br>
<router-outlet></router-outlet>
